# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Folders
Release/
Debug/
__vm/
.vs/

*.vcxproj
code/Raindancer/Raindancer.vcxproj
code/Raindancer/Raindancer.sln
code/Raindancer/Raindancer.vcxproj.filters
code/Raindancer/Raindancer.vcxproj.user
